<div class="header-container">
    <div class="logo-side">
        <img src="assets/image/store-logo.png" alt="Logo">
    </div>
    <div class="menu-side">
        <div class="menu-container">
            <div class="menu-list">
                <div class="menu-title">Home</div>
            </div>
            <div class="menu-list">
                <div class="menu-title">Shop</div>
            </div><div class="menu-list">
                <div class="menu-title">About</div>
            </div><div class="menu-list">
                <div class="menu-title">Contact</div>
            </div>
        </div>
    </div>
</div>